img {
  width: 100%;
}
#main {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 2rem;
}

.billede {
  aspect-ratio: 16/9;
  object-fit: cover;
}

article {
  margin-top: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.loading {
  margin: auto;
  text-align: center;
  size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
}
