#hjem_first_section .section_wrapper .col2 {
  padding-top: 10px;
}

#hjem_first_section .section_wrapper .col1 h2 {
  padding-bottom: 10px;
}

#hjem_second_section .section_wrapper .col1,
h2,
p {
  margin: 20px;
}

#hjem_second_section {
  background-color: #beddb0;
  padding-bottom: 20px;
  padding-top: 20px;
}

#hjem_fourth_section .section_wrapper .quote h3 {
  text-align: center;
  font-style: italic;
  margin: 20px;
}

#hjem_fourth_section .section_wrapper .quote p {
  text-align: right;
  margin: 20px;
}

#hjem_fourth_section {
  background-color: #beddb0;
  padding-bottom: 20px;
  padding-top: 20px;
}

#hjem_fourth_section .section_wrapper .quote {
  margin-top: 30px;
}

#sixth_section .section_wrapper img {
  padding: 0;
}

@media (min-width: 500px) {
  h1 {
    text-align: center;
  }

  section {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  #hjem_first_section .section_wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }

  #hjem_first_section .section_wrapper .col1 h2 {
    text-align: left;
  }

  #hjem_first_section .section_wrapper .col1 {
    padding-top: 90px;
  }

  #hjem_second_section .section_wrapper {
    display: flex;
    justify-content: center;
  }

  #hjem_second_section .section_wrapper .col1 {
    margin: auto;
    max-width: 500px;
    padding: 2rem;
  }

  #hjem_second_section .section_wrapper .col1 h2 {
    text-align: center;
    justify-content: center;
  }

  #hjem_second_section .section_wrapper .col1,
  p {
    justify-content: left;
  }

  #hjem_third_section .section_wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }

  #hjem_third_section .section_wrapper .col1 h2 {
    text-align: left;
  }

  #hjem_third_section .section_wrapper .col1 {
    padding-top: 90px;
  }

  #hjem_fifth_section .section_wrapper .col1 {
    margin: auto;
    max-width: 500px;
    padding: 2rem;
  }

  #hjem_fifth_section .section_wrapper .col1,
  p {
    justify-content: left;
  }

  #hjem_fifth_section .section_wrapper .knap {
    text-align: center;
  }
  #hjem_sixth_section {
    padding: 0;
    margin: 0;
  }
}
