#tilskud_second_section .section_wrapper {
  text-align: center;
}

@media (min-width: 500px) {
  #tilskud_first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3%;
  }

  #tilskud_third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  #third_section .section_wrapper img {
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
  }
  #skole_first_section .section_wrapper .col1,
  .col2 {
    margin: 0 !important;
    padding: 0 !important;
  }
}
