#tilskud_second_section .section_wrapper {
  text-align: center;
}

@media (min-width: 500px) {
  #tilskud_first_section .section_wrapper {
    display: grid;
    grid-template-columns: auto auto;
    margin: 3%;
  }

  #tilskud_third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
