.content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.content-area h1,
p {
  text-align: center;
}
.knapContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#materiale-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

.billede {
  aspect-ratio: 1/1;
  object-fit: cover;
}

#materiale-container article {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
  margin-top: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
  cursor: pointer;
}

.loading {
  margin: auto;
  text-align: center;
  size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
}
